<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Population along a route</title>
</head>
<body>
<ol>
{% for stop_id in route_stops.keys() %}
  <li>
      {{route_stops[stop_id].station_name}} :
      {{route_stops[stop_id].oa_code}} :
      {{route_stops[stop_id].oa_totpop01}} :
      {{route_stops[stop_id].oa_totpop11}} :
  </li>
{% endfor %}
</ol>
<span>{{ station_name}}</span>
</body>
</html>